/*通用样式*/
/*--------------------------------------------------------------*/
html,body,#app{
  height: 100%;
  width: 100%;
}
#app>div:first-child{
  height: 100%;
  width: 100%;
}
/*左浮动*/
.tui-left {
  float: left;
}

/*右浮动*/
.tui-right {
  float: right;
  z-index:1;
}

/*鼠标移上去变小手*/
.tui-cursor {
  cursor: pointer;
}

/*宽高百百分百*/
.tui-wh100 {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

/*padding-bottom 10px*/
.tui-pb10 {
  padding-bottom: 10px;
}

/*padding-top: 10px;*/
.tui-pt10 {
  padding-top: 10px;
}

/* margin-bottom: 10px;*/
.tui-mb10 {
  margin-bottom: 10px;
}

/*居中*/
.tui-center {
  text-align: center;
}

/* 设置为 */
.tui-inline-block {
  display: inline-block
}

/*背景为浅绿色*/
.tui-bg-tiffany {
  background: #23C6C8;
}

/*背景灰色*/
.tui-bg-gray {
  background: #F2F2F2;
}

/*背景白色*/
.tui-bg-white {
  background: white;
}

/*字白色*/
.tui-color-white {
  color: white;
}

/*内容*/
.tui-content {
  min-height: calc(100vh - 104px);
  // margin-top: 44px;
}

/*校验的错误提示*/
.tui-error {
  color: red;
  font-size: 12px;
}

/*手机端结合vant的样式*/
/*向右箭头*/
.tui-navigate-right {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: left;

  &:after {
    position: absolute;
    color: #bbb;
    right: 15px;
    font-family: 'vant-icon';
    content: '\F00A';
    display: inline-block;
  }
}

/*向左箭头*/
.tui-navigate-left {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: left;

  &:after {
    position: absolute;
    color: #bbb;
    right: 15px;
    font-family: 'vant-icon';
    content: '\F008';
    display: inline-block;
  }
}


/*vant tab 固定*/
.tui-tab-fixed {
  .van-sticky {
    top: 44px;
  }
}


/*高德地图去除图标*/
.amap-logo, .amap-copyright {
  display: none !important;
}

